@import "../scss/resources";

section{
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.img-container img{
    display: flex;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
}

.txt-caption{
    font-family: $font-custom;
    color: $colorWhite;
    margin-top: 1rem;
}

.section-title{
    text-align: center;
    color: $colorWhite;
    margin: 1rem;
    font-family: $font-default;
}