
@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
$font-custom : 'Saira Stencil One', cursive;
$font-default : 'Rubik', sans-serif;

$background : linear-gradient(90deg, rgba(18,18,20,1) 0%, rgba(0,25,45,1) 100%);
$card-background : linear-gradient(90deg, rgba(0,25,45,1) 100%, rgba(0,25,45,1) 100%);

$menu-icon : url("/dist/assets/icons/menu-button.png");

$nav-link-active: #18c8ca;
$nav-link-inactive: #f1f1f1;

$colorWhite : #fff;
$colorDarkGray : rgb(40, 40, 48);
$colorDarcula : rgb(10, 10, 10);